header{
   background-color: rgb(1, 1, 3);
   color: rgb(41, 196, 196);
display: flex;
justify-content: space-around;
align-items: center;
padding: 24px 0;
}

.imagem-cabecalho{
width: 20%;
}

.cabecalho-item{
display: inline-block;
margin: 0 ;

}
